@model IEnumerable<FileViewModel>

@{
    ViewData["Title"] = "Profile";
}

<div>
    @if (Model.Any())
    {
        <div>Files: </div>
        foreach (var item in Model)
        {
            <form action="/delete/@item.FilePath?.Substring(1)" method="post">
                @Html.AntiForgeryToken()
                <p>
                    <a href="/download/@item.FilePath?.Substring(1)/@item.FileName">@item.FileName</a>
                </p>

                <button>Delete</button>
            </form>
        }
    }
    else
    {
        <div>Profile is clear</div>
    }
</div>
