@model IEnumerable<FileViewModel>

@{
    ViewData["Title"] = "Profile";
}

<div>
    @if (Model.Any())
    {
        if (Model.Any(item => item.FileContent is null))
        {
            <div>Files: </div>
            foreach (var item in Model.Where(model => model.FileContent is null))
            {
                <form action="/delete/@item.FilePath?.Substring(1)" method="post">
                    @Html.AntiForgeryToken()
                    <p>
                        <a href="/download/@item.FilePath?.Substring(1)/@item.FileName">@item.FileName</a>
                    </p>

                    <button>Delete</button>
                </form>
            }
        }
        if (Model.Any(item => item.FileContent is not null))
        {
            <div>Texts: </div>
            foreach (var item in Model.Where(model => model.FileContent is not null))
            {
                <form action="/delete/@item.FilePath?.Substring(1)" method="post">
                    @Html.AntiForgeryToken()
                    <p>
                        <a href="/download/@item.FilePath?.Substring(1)/@item.FileName">@item.FileName</a>
                    </p>

                    <button>Delete</button>
                </form>
            }
        }
    }
    else
    {
        <div>Profile is clear</div>
    }
</div>
